.container {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0001;
  padding: 16px;
  margin-bottom: 24px;
}



.selectWide {
  min-width: 220px;
}

.input {
  min-width: 120px;
  padding: 6px 6px 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  height: 36px;
}

.buttonResetCR {
  width: 100%;
  background: #ffe9b3;
  color: #222;
  cursor: pointer;
  font-weight: 600;
}

.buttonResetCR:hover {
  background: #ffd580!important;
}

.buttonReset {
  width: 100%;
  background: #aee6e6;
  color: #222;
  font-weight: 600;
  cursor: pointer;
  font-weight: 600;
}

.buttonReset:hover {
  background: #7fdede!important;
} 